.article-info {
    font-size: 10px;
}
a { 
    color: inherit;
    text-decoration: none;
    font-family: 'Ubuntu Mono' 'san serif';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    ;
 } 