.article {
    padding: 8px 0;
}
.article-list {
    padding-left: 120px;
}
.article-info, .article-domain {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-secondary);
}
a { 
    color: var(--color-foreground);
    text-decoration: none;
    font-family: 'Ubuntu Mono' san-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
 } 
 .article-info {
    display: flex;
    align-items: center;
 }
 .article-domain {
    padding-left: 10px;
 }
 li {
    color: var(--color-secondary);
    font-family: 'Ubuntu Mono' san-serif;
 }
 .save-button {
    display: flex;
    align-items: center;
 }
 .save-button:hover {
    cursor: pointer;
 }
 .top-line{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
 }