.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:80px ;
}
.left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right-header {
    display: flex;
    align-items: center;
    padding-right: 90px;
}
.header-nav:hover {
    cursor: pointer;
}
.header-nav {
    font-size: 14px;
    padding: 0 10px;
}
.active {
    color: #FE7139;
    font-weight: 700;
}
.logo {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #FE7139;
    margin-right:17px;
}
.title {
    margin-right: 37px;
}
