:root {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
body {
  margin: 0;
  --color-background: #fff;
  --color-foreground: #1f2023;
  --color-secondary: #999;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body.dark {
  --color-background: #1f2023;
  --color-foreground: #efefef;
  
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
html, body, #root {
  height: 100%;
}